.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: var(--container-w);
}

.logo,
.brand {
  display: flex;
  align-items: center;
  justify-content: center;
}

.brand {
  height: 4rem;
  width: 4rem;
}

.logo {
  width: 100%;
  height: 100%;
  margin-left: -2rem;
  font-size: 2rem;
  line-height: 2rem;
  font-weight: 800;
  color: var(--black);
  transition: color 150ms ease-in-out;
}

.logo:hover {
  color: var(--accent);
}

.items {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.items > *:last-child {
  margin-right: 0;
  padding-right: 0;
}

.items > * + * {
  margin-left: 1rem;
}

.item {
  display: block;
  padding: 0 1rem;
}

.item:hover .link {
  color: var(--accent);
}

.links {
  display: none;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .links {
    display: flex;
  }
}

.link {
  font-size: 1rem;
  font-weight: 800;

  color: var(--black);
  transition: color 150ms ease-in-out;
}

.icons {
  display: flex;
  align-items: center;
}

.icon {
  display: block;
}

.itemWithIcon {
  padding: 0 0.5rem;
}

.mobile {
  display: flex;
  align-items: center;
}

.mobile > *:last-child {
  margin-right: 0;
  padding-right: 0;
}

@media screen and (min-width: 768px) {
  .mobile {
    display: none;
  }
}

.navigationWithOverlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 200;
  padding: 1.5rem;
  background: var(--background);
}

@media screen and (min-width: 560px) {
  .navigationWithOverlay {
    padding: 2rem;
  }
}
