.notFound {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.message {
  display: flex;
  align-items: center;
}

.message > * + * {
  margin-left: 1rem;
}

.messageText {
  font-size: 2rem;
  font-weight: 700;
}

.messageIcon {
  display: block;
}
