.wrapper {
  display: grid;
  grid-template-rows: auto 1fr;
  justify-items: center;
  min-height: 100vh;
  padding: 1.5rem;
}

.wrapperLanding {
  background: url(/images/bg.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@media screen and (min-width: 560px) {
  .wrapper {
    padding: 2rem;
  }
}

@media screen and (min-width: 1024px) {
  .wrapper {
    padding: 4rem;
  }
}
