html {
  line-height: 1.6;
  font-size: var(--font-size-small);
  text-size-adjust: none;

  --scroll-behavior: smooth;
  scroll-behavior: smooth;
}

@media screen and (min-width: 340px) {
  html {
    font-size: var(--font-size);
  }
}

@media screen and (min-width: 2048px) {
  html {
    font-size: var(--font-size-xl);
  }
}

body {
  min-height: 100vh;
  font-size: 1rem;
  color: var(--text);
  background-color: var(--background);
}

/** Inlines. */

b,
strong {
  font-weight: bold;
}

i,
em {
  font-style: italic;
}

/** Links.  */

a {
  cursor: pointer;
  text-decoration: none;
  color: var(--accent);
}

a:hover {
  color: var(--accent);
}

a:focus-visible {
  border: 0 !important;
  border-radius: 0.25rem !important;

  outline: 2px solid var(--accent);
  outline-offset: 0.15rem;

  opacity: 1 !important;
  visibility: visible !important;
}

/** Selection. */

::-moz-selection {
  background-color: var(--selection-background);
  color: var(--selection-color);
  text-shadow: none;
}

::selection {
  background-color: var(--selection-background);
  color: var(--selection-color);
  text-shadow: none;
}

/** Headings. */

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 1rem;
}

h5 {
  font-size: 0.8rem;
}

h6 {
  font-size: 0.65rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 1.75rem 0 1rem;
  font-weight: 700;
}

/* Horizontal divider. */

hr {
  display: block;
  width: 100%;
  margin: 2rem auto;
  border: 1px solid var(--contrast-950);
}
