:root {
  --font-size: 16px;
  --font-size-xl: 24px;
  --font-size-small: 14px;

  --font-mono: 'JetBrains Mono', 'Fira Code', monospace;
  --font-normal: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
    'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}
